<div class='narrow-page-gap'></div>

<div class="row">
  <div class="light-banner clearfix">
    <div class="col-sm-10 col-sm-offset-1">
      <div class="light-banner-text">
        <h3>About Enerteq</h3>
        <p>Enerteq delivers and supports systems that collate, analyse and present utility consumption data.</p>
        <p>The flagship product is the Enerteq MVX platform.</p>
        <p>Enerteq was founded by Costa Sfetsos and Lachlan Douglas and is a proprietary limited company.</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="light-section clearfix">
    <div class="col-sm-10 col-sm-offset-1">
      <div class="light-section-text">
        <p>Our principles</p>
        <p>Enerteq is an <span class="bold-text">independent</span> technology
          company.</p>
        <p>We are unaffiliated with component suppliers and utilities.
          We specify open, non-proprietary protocols, and
          best-for-project components. We do not lock clients into
          using vendor-specific metering devices or sensor technologies.</p>
        <p>We welcome the involvement of client staff, contractors and
          advisers in the design, installation and operation of an
          Enerteq MVX solution.
          Our offering is not conceived to displace exsting providers,
          but rather to give them the tools they need to give clients the
          best possible outcome.</p>
        <p>We believe that clients should 'hold the keys' to their M&V operating
          software, and that they should not be beholden to software that is
          controlled by someone else. With Enerteq, clients own their data and the
          licenses for the software that processes it. We are not a cloud/SAAS provider and we
          do not sell client data.</p>
      </div>
    </div>
  </div>
</div>
