<div class="row">
  <div class="light-banner clearfix">
    <div class="col-sm-10 col-sm-offset-1">
      <div class="light-banner-text">
        <p class="bold-text">Contact</p>
        <p>+612 9000 0000</p>
        <p>sales@enerteq.com.au</p>
      </div>
    </div>
  </div>
</div>
