<div class="row">
  <div class="light-banner clearfix">
    <div class="col-sm-12">
      <div class='pull-left'>
        <a class="info highlight-text" href="/">
          <i class="glyphicon glyphicon-arrow-left"></i>
          Home
        </a>
      </div>
      <div class='pull-right'>
        <a class="info highlight-text" href="/nodes">
          Nodes
          <i class="glyphicon glyphicon-arrow-right"></i>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="light-banner clearfix">
    <div class="col-sm-9">
      <div class="light-banner-text">
        <h3>Integration</h3>
        <p>Enerteq MVX has an open architecture and works with most meters,
          sensors and data loggers that have communication interfaces
          supporting <span class="bold-text">open protocols</span>.</p>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="light-banner-text big-icon">
        <i class="glyphicon glyphicon-scale"></i>
      </div>
    </div>
  </div>
</div>

<div class='narrow-page-gap'></div>

<div class="row">
  <div class="light-banner clearfix">
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="">
        <img src="/images/dent-24.png" class="img img-responsive" />
      </div>
    </div>
    <div class="col-sm-6 col-md-8 col-lg-9">
      <div class="light-banner-text">
        <p>You can incorporate existing measurement devices,
           or add new devices as required.</p>
        <p>We can source devices for you, or provide you with specs so
          that you can source devices through your preferred supplier channels.</p>
        <p>The physical installation of devices can be performed by your
          technicians, or we can refer you to specialist third-party contractors.</p>
      </div>
    </div>
  </div>
</div>
