<div class="row">
  <div class="light-banner clearfix">
    <div class="col-sm-12">
      <div class='pull-left'>
        <a class="info highlight-text" href="/integration">
          <i class="glyphicon glyphicon-arrow-left"></i>
          Integration
        </a>
      </div>
      <div class='pull-right'>
        <a class="info highlight-text" href="/apps">
          Apps
          <i class="glyphicon glyphicon-arrow-right"></i>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="light-banner clearfix">
    <div class="col-sm-9">
      <div class="light-banner-text">
        <h3>Nodes</h3>
        <p>The Enerteq MVX Smart Site controller provides a secure gateway to
           connect your meters, sensors and other devices to the internet.</p>
        <p>In multi-site installations, a Smart Site controller is installed
          at each site. One controller can be configured to act as a master
          controller to consolidate data from all your sites.</p>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="light-banner-text big-icon">
        <i class="glyphicon glyphicon-screenshot"></i>
      </div>
    </div>
  </div>
</div>

<div class='narrow-page-gap'></div>

<div class="row">
  <div class="light-banner clearfix">
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="">
        <img src="/images/industrial-pc.png" class="img img-responsive" />
      </div>
    </div>
    <div class="col-sm-6 col-md-8 col-lg-9">
      <div class="light-banner-text">
        <p></p>
        <p>Smart Site controllers are essentially small embedded PCs that are
          managed and configured remotely. It is easy to setup applications
          selected from , which means that   collects, stores and presents
          data from your site. </p>
        <p>has an open architecture and works with most meters,
          sensors and data loggers that have communication interfaces
          supporting <span class="bold-text">open protocols</span>.</p>
      </div>
    </div>
  </div>
</div>
