<div class="row">
  <div class="light-banner clearfix">
    <div class="col-sm-12">
      <div class='pull-left'>
        <a class="info highlight-text" href="/apps">
          <i class="glyphicon glyphicon-arrow-left"></i>
          Apps
        </a>
      </div>
      <div class='pull-right'>
        <a class="info highlight-text" href="/">
          Home
          <i class="glyphicon glyphicon-arrow-right"></i>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="light-banner clearfix">
    <div class="col-sm-9">
      <div class="light-banner-text">
        <h3>Support</h3>
        <p></p>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="light-banner-text big-icon">
        <i class="glyphicon glyphicon-cog"></i>
      </div>
    </div>
  </div>
</div>

<div class='narrow-page-gap'></div>

<div class="row">
  <div class="light-banner clearfix">
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="">
        <img src="/images/multimeter.png" class="img img-responsive" />
      </div>
    </div>
    <div class="col-sm-6 col-md-8 col-lg-9">
      <div class="light-banner-text">
        <p>Run <span class="bold-text">software</span>.</p>
      </div>
    </div>
  </div>
</div>
